<!-- <div class="container m-3">
    <div class="card" style="width: 25rem;">
        <img [src]="currPrd?.ImageUrl" class="card-img-top" alt="prd img">
        <div class="card-body">
          <h5 class="card-title">{{currPrd?.Name}}</h5>
          <div class="row">
            <div class="col-7">
              <p>Price : {{currPrd?.Price | currency:'EUR'}}</p>
            </div>
            <div class="col-5">
              <p>Quantity : {{currPrd?.Quantity}}</p>
            </div>
          </div>
          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button [disabled]="currPrdId == prdIdArr[0]" type="button" class="btn btn-danger" (click)="goToPrevPrd()">Previous Product</button>
            <button type="button" class="btn btn-warning" (click)="handleBack()">Go Back</button>
            <button [disabled]="currPrdId == prdIdArr[prdIdArr.length - 1]" type="button" class="btn btn-success" (click)="goToNextPrd()">Next Product</button>
          </div>
        </div>
      </div>
</div> -->
